//$canvas: #eae7de;
$canvas: #0d1117;
$color-basic: #c9d1d9;
$color-secondary:#8b949e;


//loading
$loading-bar:#58a6ff;
// header
$header-bg: #161b22;
// items?
$item-header: #161b22;
$border-basic: #30363d;
$border-focus:#58a6ff;

// form
$input-basic-bg:#010409;

$input-basic:#c9d1d9;
$place-holder-basic:#8b949e;

// link
$link-basic:#58a6ff;
// navigation


// buttons text
$buttons-text-basic:#8b949e;
$buttons-text-primary:#fff;
$buttons-text-secondary:#c9d1d9;

// buttons color
$button-basic:#161b22;
$button-primary:#238636;
$button-primary-hover:#2ea043;

$button-secondary:#21262d;
$button-secondary-hover:#30363d;

$button-emphasis:#1f6feb;
$button-emphasis-hover:#58a6ff;
// buttons outline

$border-default: #30363d;
