@use "color";

.loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .6);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  .loading-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;

    .animate {
      width: 60px;
      height: 60px;
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        padding: 0;
        width: 5px;
        height: 5px;
        position: absolute;
        border-radius: 50%;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-animation-name: loading-item;
        -webkit-animation-duration: 6s;
        -webkit-animation-iteration-count: infinite;

        &:nth-child(0) {
          -webkit-animation-delay: 0s;
        }

        &:nth-child(1) {
          -webkit-animation-delay: 0.1s;
        }

        &:nth-child(2) {
          -webkit-animation-delay: 0.2s;
        }

        &:nth-child(3) {
          -webkit-animation-delay: 0.3s;
        }

        &:nth-child(4) {
          -webkit-animation-delay: 0.4s;
        }

        &:nth-child(5) {
          -webkit-animation-delay: 0.5s;
        }

        &:nth-child(6) {
          -webkit-animation-delay: 0.6s;
        }
      }
    }
  }
}

@keyframes loading-item {
  0% {
    -webkit-transform: rotate(0) translateX(-100px) translateY(30px);
    -webkit-animation-timing-function: linear;
    background-color: rgba(color.$loading-bar, 0);
  }
  5% {
    -webkit-transform: rotate(0deg) translateX(0) translateY(30px);
    -webkit-animation-timing-function: cubic-bezier(0.1, 0.5, 0.9, 0.5);
    background-color: rgba(color.$loading-bar, 1);
  }
  30% {
    -webkit-transform: rotate(-360deg) translateX(0) translateY(30px);
    -webkit-animation-timing-function: cubic-bezier(0.1, 0.5, 0.9, 0.5);
    background-color: rgba(color.$loading-bar, 1);
  }
  55% {
    -webkit-transform: rotate(-720deg) translateX(0) translateY(30px);
    -webkit-animation-timing-function: cubic-bezier(0.1, 0.5, 0.9, 0.5);
    background-color: rgba(color.$loading-bar, 1);
  }
  80% {
    -webkit-transform: rotate(-1080deg) translateX(0) translateY(30px);
    -webkit-animation-timing-function: linear;
    background-color: rgba(color.$loading-bar, 1);
  }
  85% {
    -webkit-transform: rotate(-1080deg) translateX(100px) translateY(30px);
    -webkit-animation-timing-function: linear;
    background-color: rgba(color.$loading-bar, 0);
  }
  100% {
    -webkit-transform: rotate(0) translateX(-100px) translateY(30px);
    -webkit-animation-timing-function: linear;
    background-color: rgba(color.$loading-bar, 0);
  }
}

@mixin icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  @content;
}

@mixin button {
  &.primary {
    background-color: color.$button-primary;
    color: color.$buttons-text-primary;

    &:hover {
      background-color: color.$button-primary-hover;
    }
  }
  &.secondary {
    background-color: color.$button-secondary;
    color: color.$buttons-text-secondary;

    &:hover {
      background-color: color.$button-secondary-hover;
    }
  }
  &.emphasis {
    background-color: color.$button-emphasis;
    color: color.$buttons-text-primary;

    &:hover {
      background-color: color.$button-emphasis-hover;
    }
  }
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  a {
    font-size: 14px;
    padding: 20px 24px 8px;
    text-align: center;
    color: color.$color-secondary;
    position: relative;
    transition: color ease .4s;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 100%;
      opacity: 0;
      transition: opacity ease-in-out .4s;
    }

    &:hover {
      color: color.$color-basic;

      &::after {
        background-color: color.$color-secondary;
        opacity: 1;
      }
    }

    &.active {
      color: color.$color-basic;
      //border-bottom: 2px solid color.$button-emphasis-hover;
      &::after {
        opacity: 1;
        background-color: color.$button-emphasis-hover;
      }
    }
  }
}

.button {
  padding: 6px 16px;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;

  // colors
  &.primary {
    background-color: color.$button-primary;
    color: color.$buttons-text-primary;

    &:hover {
      background-color: color.$button-primary-hover;
    }
  }

  &.secondary {
    background-color: color.$button-secondary;
    color: color.$buttons-text-secondary;
    border : 1px solid color.$border-default;

    &:hover {
      background-color: color.$button-secondary-hover;
    }
  }
}
.buttons{
  display: flex;
  &.right{
    justify-content: flex-end;
  }
}

.labels{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.board {
  .title {
    font-size: 24px;
  }

  .lists {
    margin-top: 24px;

    .list{
      .card{
        margin-top: 8px;
        overflow: hidden;
        background-color: #161b22;
        border: {
          color: color.$border-basic;
          style: solid;
          width: 1px;
          radius: 6px;
        }
      }
      .author, .created {
        font-size: 13px;
        display: inline-block;
      }
      .created{
        margin-left: 8px;
      }
    }
    .list-title {
      color: inherit;
    }

    .list-info {
      border-top: 1px solid color.$border-basic;
      padding: 16px 24px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .desc {
        font-size: 14px;
        word-break: keep-all;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-height: 1.625;
        max-height: 68.25px;

        .js-markdown * {
          font-size: inherit;
          line-height: 1.25;
          font-weight: 300;
          margin: 0;
          border: 0;
          background: inherit;
        }
      }
    }
  }
}


.view{
  margin-bottom: 160px;
  .info{
    margin-bottom: 24px;
    h2{
      font-size: 48px;
      margin-bottom: 8px;
    }
    span{
      font-size: 13px;
    }
  }
  .button{
    display: inline-flex;
    align-self: flex-end;
    margin-top: 24px;
  }
}

.comment{
  form{
    border: 0;
    padding: 0;
    textarea{
      min-height: 80px;
    }
  }
}

.pager{
  display: flex;
  gap: 2%;
  margin-bottom: 24px;
  .next, .prev{
    width: 49%;
    border-radius: 4px;
    padding: 8px 16px;
    color: #c9d1d9;
    border: 1px solid #30363d;
    span {
      font-size: 13px;
      color: color.$color-secondary;
    }
    p {
      font-size: 16px;
      font-weight: 700;
    }
  }
  .next {
    text-align: right;
    margin-left: auto;
  }
}