@use "color";
@use "common";
body {
  background-color: color.$canvas;
}

.logo{
  height: 40px;
  img {
    height: 100%;
  }
}

header{
  padding: 12px 16px;
  background-color: color.$header-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .utils{
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.box-header{
  padding: 16px;
  color: color.$color-basic;
  background-color: color.$item-header;
  border : {
    color: color.$border-basic;
    style: solid;
    width: 1px;
    top-left-radius: 5px;
    top-right-radius: 5px;
    bottom: 0;
  }
}

.contents{
  //max-width: 640px;
  width: 640px;
  margin: 60px auto;
  border-color: color.$item-header;
  @include common.media-breakpoint-down(md){
    width: 92%;
  }
}

.side-by-side{
  display: flex;
  align-items: center;
  justify-content: space-between;
}