html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.125;
  font-family: "Pretendard", Sans-serif;
  font-size: inherit;
  color: #c9d1d9;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #58a6ff;
}

button {
  background-color: unset;
  border: 1px solid #30363d;
  border-radius: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #c9d1d9;
  -webkit-box-shadow: 0 0 0px 1000px #010409 inset;
  box-shadow: 0 0 0px 1000px #010409 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading .loading-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
}
.loading .loading-bar .animate {
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
}
.loading .loading-bar .animate li {
  list-style: none;
  padding: 0;
  width: 5px;
  height: 5px;
  position: absolute;
  border-radius: 50%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation-name: loading-item;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
}
.loading .loading-bar .animate li:nth-child(0) {
  -webkit-animation-delay: 0s;
}
.loading .loading-bar .animate li:nth-child(1) {
  -webkit-animation-delay: 0.1s;
}
.loading .loading-bar .animate li:nth-child(2) {
  -webkit-animation-delay: 0.2s;
}
.loading .loading-bar .animate li:nth-child(3) {
  -webkit-animation-delay: 0.3s;
}
.loading .loading-bar .animate li:nth-child(4) {
  -webkit-animation-delay: 0.4s;
}
.loading .loading-bar .animate li:nth-child(5) {
  -webkit-animation-delay: 0.5s;
}
.loading .loading-bar .animate li:nth-child(6) {
  -webkit-animation-delay: 0.6s;
}

@keyframes loading-item {
  0% {
    -webkit-transform: rotate(0) translateX(-100px) translateY(30px);
    -webkit-animation-timing-function: linear;
    background-color: rgba(88, 166, 255, 0);
  }
  5% {
    -webkit-transform: rotate(0deg) translateX(0) translateY(30px);
    -webkit-animation-timing-function: cubic-bezier(0.1, 0.5, 0.9, 0.5);
    background-color: #58a6ff;
  }
  30% {
    -webkit-transform: rotate(-360deg) translateX(0) translateY(30px);
    -webkit-animation-timing-function: cubic-bezier(0.1, 0.5, 0.9, 0.5);
    background-color: #58a6ff;
  }
  55% {
    -webkit-transform: rotate(-720deg) translateX(0) translateY(30px);
    -webkit-animation-timing-function: cubic-bezier(0.1, 0.5, 0.9, 0.5);
    background-color: #58a6ff;
  }
  80% {
    -webkit-transform: rotate(-1080deg) translateX(0) translateY(30px);
    -webkit-animation-timing-function: linear;
    background-color: #58a6ff;
  }
  85% {
    -webkit-transform: rotate(-1080deg) translateX(100px) translateY(30px);
    -webkit-animation-timing-function: linear;
    background-color: rgba(88, 166, 255, 0);
  }
  100% {
    -webkit-transform: rotate(0) translateX(-100px) translateY(30px);
    -webkit-animation-timing-function: linear;
    background-color: rgba(88, 166, 255, 0);
  }
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.navigation a {
  font-size: 14px;
  padding: 20px 24px 8px;
  text-align: center;
  color: #8b949e;
  position: relative;
  transition: color ease 0.4s;
}
.navigation a::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 100%;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}
.navigation a:hover {
  color: #c9d1d9;
}
.navigation a:hover::after {
  background-color: #8b949e;
  opacity: 1;
}
.navigation a.active {
  color: #c9d1d9;
}
.navigation a.active::after {
  opacity: 1;
  background-color: #58a6ff;
}

.button {
  padding: 6px 16px;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
}
.button.primary {
  background-color: #238636;
  color: #fff;
}
.button.primary:hover {
  background-color: #2ea043;
}
.button.secondary {
  background-color: #21262d;
  color: #c9d1d9;
}
.button.secondary:hover {
  background-color: #30363d;
}

.board .title {
  font-size: 24px;
}
.board .lists {
  margin-top: 24px;
  overflow: hidden;
  background-color: #161b22;
  border-color: #30363d;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
}
.board .lists .list-title {
  color: inherit;
}
.board .lists .list-info {
  border-top: 1px solid #30363d;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.board .lists .list-info .desc {
  font-size: 14px;
  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.625;
  max-height: 68.25px;
}
.board .lists .list-info .desc .js-markdown * {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  border: 0;
  background: inherit;
}
.board .lists .list-info .author, .board .lists .list-info .create {
  font-size: 13px;
  text-align: right;
}

.login-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 540px;
}

form {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 13px;
  border-color: #30363d;
  border-style: solid;
  border-width: 1px;
}
form .single {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form input:not([type=radio], [type=checkbox]) {
  display: block;
  width: 100%;
  padding: 12px 8px;
  background-color: #010409;
  color: #c9d1d9;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #30363d;
}
form input:not([type=radio], [type=checkbox])::placeholder {
  color: #8b949e;
}
form input:not([type=radio], [type=checkbox]):focus {
  outline-style: solid;
  outline-width: 1px;
  outline-color: #58a6ff;
}
form textarea {
  display: block;
  width: 100%;
  padding: 12px 8px;
  background-color: #010409;
  color: #c9d1d9;
  min-height: 300px;
  white-space: pre-wrap;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #30363d;
}
form textarea::placeholder {
  color: #8b949e;
}
form textarea:focus {
  outline-style: solid;
  outline-width: 1px;
  outline-color: #58a6ff;
}
form label.check-box {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 28px;
}
form label.check-box input {
  width: 0;
  height: 18px;
}
form label.check-box input::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #010409;
}
form label.check-box input:checked::before {
  background-color: #2ea043;
  color: #c9d1d9;
  text-align: center;
  vertical-align: bottom;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  content: "check";
  font-size: 16px;
}
form label.check-box input:focus::before {
  border-color: #58a6ff;
}
form button, form a {
  text-align: center;
  border: 1px solid #30363d;
  border-radius: 5px;
  padding: 8px 8px;
  cursor: pointer;
}
form button.primary, form a.primary {
  background-color: #238636;
  color: #fff;
}
form button.primary:hover, form a.primary:hover {
  background-color: #2ea043;
}
form button.secondary, form a.secondary {
  background-color: #21262d;
  color: #c9d1d9;
}
form button.secondary:hover, form a.secondary:hover {
  background-color: #30363d;
}
form button.emphasis, form a.emphasis {
  background-color: #1f6feb;
  color: #fff;
}
form button.emphasis:hover, form a.emphasis:hover {
  background-color: #58a6ff;
}

body {
  background-color: #0d1117;
}

.logo {
  height: 40px;
}
.logo img {
  height: 100%;
}

header {
  padding: 12px 16px;
  background-color: #161b22;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .utils {
  display: flex;
  align-items: center;
  gap: 8px;
}

.box-header {
  padding: 16px;
  color: #c9d1d9;
  background-color: #161b22;
  border-color: #30363d;
  border-style: solid;
  border-width: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 0;
}

.contents {
  width: 640px;
  margin: 60px auto;
  border-color: #161b22;
}
@media (max-width: 767.98px) {
  .contents {
    width: 92%;
  }
}

.side-by-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.js-markdown code,
.js-markdown tt {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: #30363d;
  border-radius: 8px;
}
.js-markdown code br,
.js-markdown tt br {
  display: none;
}
.js-markdown del code {
  text-decoration: inherit;
}
.js-markdown samp {
  font-size: 85%;
}
.js-markdown h1 {
  padding-bottom: 0.3em;
  margin-bottom: 16px;
  font-size: 2em;
  border-bottom: 1px solid #30363d;
  margin-top: 24px;
}
.js-markdown h1:first-of-type {
  margin-top: 0;
}
.js-markdown h2 {
  padding-bottom: 0.3em;
  margin-bottom: 16px;
  font-size: 1.5em;
  border-bottom: 1px solid #30363d;
  margin-top: 24px;
}
.js-markdown h3 {
  font-size: 1.25em;
  margin-bottom: 16px;
  margin-top: 24px;
}
.js-markdown p {
  margin-bottom: 12px;
}
.js-markdown ul,
.js-markdown ol {
  padding-left: 2em;
}
.js-markdown ul.no-list,
.js-markdown ol.no-list {
  padding: 0;
  list-style-type: none;
}
.js-markdown ul li {
  list-style: decimal;
}
.js-markdown ol li {
  list-style: disc;
}
.js-markdown ol[type="1"] {
  list-style-type: decimal;
}
.js-markdown ol[type=a] {
  list-style-type: lower-alpha;
}
.js-markdown ol[type=i] {
  list-style-type: lower-roman;
}
.js-markdown div > ol:not([type]) {
  list-style-type: decimal;
}
.js-markdown ul ul,
.js-markdown ul ol,
.js-markdown ol ol,
.js-markdown ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
.js-markdown li > p {
  margin-top: 8px;
}
.js-markdown li + li {
  margin-top: 8px;
}
.js-markdown dl {
  padding: 0;
}
.js-markdown dl dt {
  padding: 0;
  margin-top: 8px;
  font-size: 1em;
  font-style: italic;
  font-weight: 700;
}
.js-markdown dl dd {
  padding: 0 8px;
  margin-bottom: 8px;
}
.js-markdown .highlight {
  margin-bottom: 4px;
}
.js-markdown .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}
.js-markdown .highlight pre,
.js-markdown pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #30363d;
  border-radius: 8px;
}
.js-markdown pre code,
.js-markdown pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
.js-markdown blockquote {
  padding: 0 1em;
  color: #30363d;
  border-left: 0.25em solid #30363d;
}
.js-markdown blockquote > :first-child {
  margin-top: 0;
}
.js-markdown blockquote > :last-child {
  margin-bottom: 0;
}
.js-markdown table {
  display: block;
  width: 100%;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  margin-bottom: 12px;
}
.js-markdown table th {
  font-weight: 700;
}
.js-markdown table th,
.js-markdown table td {
  padding: 6px 13px;
  border: 1px solid #30363d;
}
.js-markdown table tr {
  background-color: var(--color-canvas-default);
  border-top: 1px soild #30363d;
}
.js-markdown table tr:nth-child(2n) {
  background-color: #30363d;
}
.js-markdown table img {
  background-color: transparent;
}
.js-markdown hr {
  height: 4px;
  padding: 0;
  margin: 24px 0;
  background-color: #30363d;
  border: 0;
}

/*# sourceMappingURL=app.css.map */
